<<<<<<< HEAD
version: "3.8"
services:
  db:
    image: postgres
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: devops
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: express_app
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_SCHEMA: devops
    depends_on:
      - db
=======
version: "3.8"
services:
  db:
    image: postgres
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: devops
    ports:
      - "5432:5432"

  app:
    build: .
    container_name: express_app
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_SCHEMA: devops
    depends_on:
      - db
>>>>>>> cb4920a675d3e6cf28f09c94180c42093bc0f7f0
